@import "links";

// GENERAL ELEMENTS
body {
	background-color: $charcoal;
	background-image: url('../img/bkg-01.png');
	font-family: $site-font;
	font-weight: $font-light;
	font-size: 100%;
	width: 100%;
	height: 100%;
	color: $light-grey;
	color: rgba($offwhite, .7);
}
.container {
	width: 100%;
	font-size: 1em; /*equivalent to 16px*/
}
img {
	width: 100%;
	max-width: 100%;
}
video {width: 100%;}
.gravitate {
	text-transform: lowercase;
	color: $orange;
	font-size: 1.28em;
}

// INTRODUCTION
.intro {
	width: 100%;
	// height: 100vh;
	// background-image: url('../img/hero-bg.png');
	// background-repeat: repeat;
	// background-attachment: fixed;
	// background-position: 50% 0;
}
.hero {
	width: 100%;
	height: 100vh;
	background-image: url('../img/video-still3-sm.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 0;
	video {display: none;}

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		background-image: url('../img/video-still3-lg.png');
	}

	// SCREEN MIN-WIDTH 1280PX
	@include laptop() {
		background-image: none;
		height: auto;
		video {
			display: block;
			// height: 100vh;
			// background-image: url('../img/hero-bg.png');
			background-repeat: repeat;
			background-position: 50% 0;
		}
	}
}
#mission {
	width: 100%;
	height: 100vh;
	background-color: $offwhite;
	text-align: center;
	color: $dark-grey;
	position: relative;
}
.statement {
	width: $small-width;
	margin: 0 $small-margin;
	// padding-top: 60%;
	position: absolute;
	top: 45%;
	left: 50;

	// SCREEN MIN-WIDTH 1024px
	// @include tablet-w() {padding-top: 32%;}

	// SCREEN MIN-WIDTH 1280px
	// @include laptop() {padding-top:20%;}

	// SCREEN MIN-WIDTH 1440px
	// @include desktop() {padding-top: 28%;}
}

// ABOUT
#about {
	padding-top: 44px;

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {padding-top: 50px;}

	// SCREEN MIN-WIDTH 1920PX
	@include lgscreen() {padding-top: 80px;}
}

.heading {
	width: 100%;
	text-align: center;
	padding: 0;
	margin-bottom: 60px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {padding: 20px 0;}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		padding: 10px 0;
		margin: 20px auto 120px;
	}
}

.section1 {
	width: 100%;

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		position: relative;
		width: 100%;
	}
}

#box {
	width: 100%;
	margin-bottom: 50px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		// CLEAR FLOAT
		&::after {
			clear: both;
			visibility: hidden;
			content: "";
			display: block;
			height: 0;
		}
		background-color: $charcoal;
		background-color: rgba($charcoal, .9);
		margin-bottom: 150px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		margin-bottom: 250px;
	}
}
.description1 {
	width: 96%;
	padding: 10px 2% 10px;
	margin: 0 auto 50px;
	background-color: $charcoal;
	background-color: rgba($charcoal, .8);

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		background-color: rgba($charcoal, 0);
		width: 60%;
		padding: 20px 20% 10px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		display: inline-block;
		float: left;
		width: 40%;
		margin: 36px 0 0 10%;
		padding: 0;
		text-align: right;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 38%;
		margin-left: 12%;
		padding-bottom: 20px;
		text-align: right;
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		width: 34%;
		margin-left: 16%;
		margin-top: 70px;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 26%;
		margin-left: 24%;
	}
}
.illustration-1 {
	display: block;
	width: 40%;
	margin: 0 auto;
	padding-bottom: 10px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 20%;
		margin: 0 40%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		display: inline-block;
		float: right;
		margin: 0 15%;
	}

	// SCREEN MIN-WIDTH 1440px
	@include lgscreen() {
		width: 10%;
		margin: 23px 30% 0 0;
	}
}
.description2 {
	width: 96%;
	padding: 10px 2% 10px;
	margin: 0 auto 50px;
	background-color: $charcoal;
	background-color: rgba($charcoal, .8);

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		background-color: rgba($charcoal, 0);
		width: 60%;
		padding: 20px 20% 10px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		float: right;
		display: inline-block;
		width: 40%;
		margin: 0 10% 0 0;
		padding: 0;
		h2 {padding-top: 36px;}
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 38%;
		margin: 0 12% 0 0;
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		width: 34%;
		margin-right: 16%;
		margin-top: 40px;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 26%;
		margin: 70px 24% 0 0;
	}
}
.illustration-2 {
	display: block;
	width: 40%;
	margin: 0 23% 0 37%;
	padding-bottom: 10px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 20%;
		margin: 0 37% 0 43%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		display: inline-block;
		float: left;
		margin: 0 11% 0 19%;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 10%;
		margin: 84px 0 0 30%;
	}
}
.description3 {
	width: 96%;
	padding: 10px 2% 10px;
	margin: 50px auto;
	background-color: $charcoal;
	background-color: rgba($charcoal, .8);

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		background-color: rgba($charcoal, 0);
		width: 60%;
		padding: 20px 20% 10px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		display: inline-block;
		width: 40%;
		margin: 0 0 0 10%;
		padding: 0;
		text-align: right;
		h2 {padding-top: 36px;}
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 38%;
		margin-left: 12%;
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		width: 34%;
		margin-left: 16%;
		margin-top: 50px;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 26%;
		margin: 30px 0 0 24%;
	}
}
.illustration-3 {
	display: block;
	width: 40%;
	margin: 0 auto;
	padding-bottom: 10px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 20%;
		margin: 0 40%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		display: inline-block;
		float: right;
		margin: 0 15%;
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		margin-right: 18%;
		margin-left: 12%;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 10%;
		margin: 23px 30% 0 0;
	}
}

// APP SLIDER
.section2 {
	width: 100%;
	padding-top: 50px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 60px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w {
		margin-top: 100px;
	}
}
.phone-mockup {
	width: 100%;
	.iPhone {display: none;}

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		.iPhone {
			display: block;
		}
		max-width: 350px;
		margin: 0 auto;
		position: relative;
	}
}
.slider-wrapper {
	background-color: transparent;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		position: absolute;
		width: 461px;
		top: 92px;
		left: -56px;
	}
}
.slider-wrapper .slide-img {
	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		max-width: 311px;
		margin-left: auto;
		margin-right: auto;
	}
}
#slider-control-nav {
	display: none;
}


// TESTIMONIALS
.section3 {
	margin-top: 80px;
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 100px;
	}
}
.section3 {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 100px;
	}
}
.slider-wrapper2 {
	width: $small-width;
	margin: 0 $small-margin;
	background-color: transparent;
	background-color: rgba($offwhite, 0);

	// SCREEN MIN-WDITH 1024PX
	@include tablet-w() {
		width: $large-width;
		margin: 0 $large-margin;
	}
}
.slider-wrapper2 .slide1 p, .slider-wrapper2 .slide2 p, .slider-wrapper2 .slide3 p {

	width: 76%;
	margin: 20px 12%;
	color: $offwhite;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 60%;
		margin-left: 20%;
		padding: 0;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 50%;
		margin-left: 26%;
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		width: 40%;
		margin-left: 30%;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 30%;
		margin-left: 35%;
	}
}
.slider-wrapper2 .slide2-img {
	width: 70%;
	max-width: 310px;
	margin-left: auto;
	margin-right: auto;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 40%;
		max-width: 310px;
	}
}
#slider-control-nav2 {
	// top: 104%;
	display: none;
}
#slider-direction-nav2 {
    top: 28%;

	// SCREEN MIN-WIDTH 600px
    @include tablet() {top: 32%;}
}


// BUTTON
#download {
	width: 100%;
	margin: 130px 0 100px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {margin: 110px 0;}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {margin: 150px 0;}
}
a > button {
	width: 90%;
	border: none;
	margin: 30px 5%;
	padding: 30px 0;
	background-color: $orange;
	text-transform: uppercase;
	color: $offwhite;
	font-weight: bold;
	@include hoverTransition (.5s, ease-in-out);

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 70px;
		width: 45%;
		margin: 30px 27.5%;
		padding: 30px 60px;
		border: none;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 35%;
		margin: 30px 32.5%;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 30%;
		margin: 30px 35%;
	}
}

a > button:hover {
	background-color: $purple;
	font-weight: bold;
}

// SPONSOR PAGE //

// HEADING
.sponsor-intro {
	width: 100%;
	height: 600px;
	background-image: url('../img/outsidelands-sm.jpg');
	background-repeat: no-repeat;
	background-position: 66% 0;
	margin-top: -21px;
	img {display: none;}

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		background-image: none;
		height: auto;
		img {display: block;}
	}
}
.intro-heading {
	width: 100%;
	text-align: center;
	padding-top: 54%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		display: none;
	}
}
.sponsor-heading {
	display: none;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		display: block;
		width: 100%;
		text-align: center;
		background-color: transparent;
		padding: 10px 0;
	}
}
.sponsor {
	margin: 0 0 60px 0;
}

// DESCRIPTION
.sponsor-us {
	width: $small-width;
	margin: 40px $small-margin;
	color: $offwhite;
	color: rgba($offwhite, .7);

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 60%;
		margin: 0 auto;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {width: 50%;}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {width: 46%;}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {width: 40%;}
}
.sponsor-description {

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		background-color: $charcoal;
		background-color: rgba($charcoal, .9);
	}
	p {
		width: 90%;
		margin: 10px auto 20px;
		text-transform: none;
	}

}
// FORM
form {
	width: 100%;
	margin: 50px auto -62px;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 16px 0 50px;
	background-color: $offwhite;
	// CLEAR FLOAT
	&::after {
		clear: both;
		visibility: hidden;
		content: "";
		display: block;
		height: 0;
	}
	.sub-button {text-transform: uppercase;}
}
label, input {
	display: block;
}
label {
	width: 92%;
	margin: 10px auto;
	color: $dark-grey;
}
input, textarea {
	width: 92%;
	margin: 10px 4% 10px 3%;
}
.sub-button {
	width: 120px;
	float: right;
	margin: 20px 4% 0 0;
	padding: 8px 0;
	background-color: $orange;
	border: none;
}

// FOOTER
footer {
	width: 96%;
	margin-top: 50px 0;
	padding: 20px 2%;
	background-color: $orange;
	color: $dark-grey;
	// CLEAR FLOAT
	&::after {
		clear: both;
		visibility: hidden;
		content: "";
		display: block;
		height: 0;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 84%;
		padding: 20px 8%;
	}
}
footer a:active, footer a:link, footer a:visited {
	color: $offwhite;
	font-weight: 400;
	// HOVER TRANSITION
	@include hoverTransition (.5s, ease-in-out);
}
footer a:hover {
	color: $purple;
}
.contact {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		float: left;
		width: 50%;
	}
}
.sponsor-gravitate {text-transform: uppercase;}
.social {
	width: 46%;
	float: left;
	text-align: justify;
	margin-top: -16px;
	i {
		color: $offwhite;
		@include hoverTransition (.5s, ease-in-out);
	}
	i:hover {
		color: $purple;
	}

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		float: right;
		width: 20%;
		margin-top: 0;
	}
}
.social::after {
	content: '';
	width: 100%;
	display: inline-block;
}
.social > h3 {
	color: $offwhite;
	font-weight: bold;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		text-align: center;
	}
}
.copy {
	float: left;
	width: 100%;
	text-align: center;
}