@import "links";

// GENERAL ELEMENTS
body {
	font-family: $site-font;
	font-weight: $font-light;
	font-size: 100%;
	width: 100%;
	height: 100%;
	color: $dark-grey;
}
.container {
	width: 96%;
	padding: 0 2%;
	font-size: 1em; /*equivalent to 16px*/

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 84%;
		margin: 0 auto;
	}
}
img {
	width: 100%;
	max-width: 100%;
}
.gravitate {
	text-transform: lowercase;
	color: $orange;
	font-size: 1.28em;
}

// INTRODUCTION
.intro {
	width: 100%;
	margin-bottom: 50px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-bottom: 56px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		margin-bottom: 70px;
	}
}

// CATCH PHRASE
blockquote {
	width: 94%;
	margin: 0 2%;
}
.catch-phrase {
	margin-top: 30px;
	font-style: italic;
	h2 {
		text-transform:lowercase;
		color: $orange;

		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			text-align: center;
			display: inline-block;
		}
	}
	h2:nth-child(2) {
		text-align: right;
		margin-top: -20px;

		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			text-align: center;
			display: inline-block;
		}
	}

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 50px;
		text-align: center;
	}
}

// ABOUT
.section1 {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		// CLEAR FLOAT
		&::after {
			clear: both;
			visibility: hidden;
			content: "";
			display: block;
			height: 0;
		}
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		position: relative;
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}
}

.heading {
	width: 100%;
	text-align: center;
	background-color: $offwhite;
	padding: 10px 0;
	margin-bottom: 50px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		padding: 20px 0;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		// position: absolute;
		// top: 0;
		// left: 0;
		// width: 800px;
		// transform: rotate(-90deg) translateX(-712px) translateY(88px); /* rotate element, move it along x-axis, move it along y-axis */
		// transform-origin: bottom left; /* identify the point of the element where the element will move from */
		padding: 10px 0;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		// width: 750px;
		// transform: rotate(-90deg) translateX(-672px) translateY(88px); /* rotate element, move it along x-axis, move it along y-axis */
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		// width: 704px;
		// transform: rotate(-90deg) translateX(-630px) translateY(88px); /* rotate element, move it along x-axis, move it along y-axis */
	}
	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		// width: 702px;
		// transform: rotate(-90deg) translateX(-626px) translateY(88px); /* rotate element, move it along x-axis, move it along y-axis */
	}
}
.description1 {
	width: 100%;
	padding-bottom: 10px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		float: left;
		width: 60%;
		padding-bottom: 40px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		// width: 30%;
		// margin-left: 16%;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 45%;
		margin-left: 5%;
		padding-bottom: 20px;
		text-align: right;
	}

	// SCREEN MIN-WIDTH 1440px
	@include lgscreen() {
		width: 35%;
		margin-left: 15%;
	}
}
.illustration-1 {
	display: block;
	width: 40%;
	margin: 16px auto;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		display: inline-block;
		float: right;
		width: 20%;
		margin: 23px 10% 0;
	}

	// SCREEN MIN-WIDTH 280px
	@include laptop() {
		Width: 15%;
		margin: 23px 17.5% 0;
	}

	@include desktop() {
		width: 12%;
		margin: 23px 19%;
	}

	// SCREEN MIN-WIDTH 1440px
	@include lgscreen() {
		width: 10%;
		margin: 23px 30% 0 0;
	}
}
.description2 {
	width: 100%;
	padding-bottom: 10px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		float: right;
		width: 60%;
		// margin-left: 40%;
		padding-bottom: 40px;
		margin: 30px 0;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		// width: 30%;
		// margin-left: 22%;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 45%;
		padding-bottom: 20px;
		margin: 60px 0;
	}

	@include desktop() {
		margin: 60px 5% 60px 0;
	}

	// SCREEN MIN-WIDTH 1440px
	@include lgscreen() {
		width: 35%;
		margin: 60px 15% 60px 0;
	}
}
.illustration-2 {
	display: block;
	width: 40%;
	margin: 16px auto;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		display: inline-block;
		float: left;
		width: 20%;
		margin: 53px 10% 50px;
	}

	// SCREEN MIN-WIDTH 280px
	@include laptop() {
		Width: 15%;
		margin: 34px 17.5%;
	}

	@include desktop() {
		width: 12%;
		margin: 85px 16.5% 0;
	}

	// SCREEN MIN-WIDTH 1440px
	@include lgscreen() {
		width: 10%;
		margin: 84px 0 0 30%;
	}
}
.description3 {
	width: 100%;
	padding-bottom: 40px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		float: left;
		width: 60%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		// width: 30%;
		// margin-left: 16%;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 45%;
		margin-left: 5%;
		padding-bottom: 20px;
		text-align: right;
	}

	@include desktop() {
		margin-top: 82px;
	}

	// SCREEN MIN-WIDTH 1280px
	@include lgscreen() {
		width: 35%;
		margin: 60px 0 0 15%;
	}
}
.illustration-3 {
	display: block;
	width: 40%;
	margin: 16px auto;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		display: inline-block;
		float: right;
		width: 20%;
		margin: 23px 10% 0;
	}

	// SCREEN MIN-WIDTH 280px
	@include laptop() {
		Width: 15%;
		margin: -22px 17.5%;
	}

	@include desktop() {
		width: 12%;
		margin: 24px 19%;
	}

	// SCREEN MIN-WIDTH 1440px
	@include lgscreen() {
		width: 10%;
		margin: 23px 30% 0 0;
	}
}

// DEMO
.section2 {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 60px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w {
		margin-top: 100px;
	}
}
.phone-mockup {
	width: 100%;
	.iPhone {display: none;}

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		.iPhone {
			display: block;
		}
		max-width: 350px;
		margin: 0 auto;
		position: relative;
	}
}
.phone-mockup .slider-wrapper {
	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		position: absolute;
		max-width: 311px;
		top: 92px;
		left: 19px;
	}
}


// TESTIMONIALS
.section3 {
	margin-top: 50px;
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 100px;
	}

	// ul {
	// 	list-style: none;
	// 	margin: 0 auto;
	// 	padding: 0;

	// 	// SCREEN MIN-WIDTH 600px
	// 	@include tablet() {
	// 		width: 77%;
	// 	}

	// 	// SCREEN MIN-WIDTH 1024px
	// 	@include tablet-w() {
	// 		width: 100%;
	// 	}

	// 	@include laptop() {
	// 		width: 90%;
	// 	}
	// }
	// li {
	// 	// SCREEN MIN-WIDTH 600px
	// 	@include tablet() {
	// 		display: block;
	// 		width: 100%;
	// 		margin: 40px 0;

	// 		// CLEAR FLOAT
	// 		&::after {
	// 			clear: both;
	// 			visibility: hidden;
	// 			content: "";
	// 			display: block;
	// 			height: 0;
	// 		}
	// 	}

	// 	// SCREEN MIN-WIDTH 1024px
	// 	@include tablet-w() {
	// 		display: inline-block;
	// 		width: 30%;
	// 		&:nth-child(2) {
	// 			margin: 0 4.5%;
	// 		}
	// 	}

	// 	@include laptop() {
	// 		width: 25%;
	// 		&:nth-child(2) {
	// 			margin: 0 12%;
	// 		}
	// 	}
	// }
	// li > img {
	// 	// SCREEN MIN-WIDTH 600px
	// 	@include tablet() {
	// 		display: inline-block;
	// 		float: left;
	// 		width: 45%;
	// 	}

	// 	// SCREEN MIN-WIDTH 1024px
	// 	@include tablet-w() {
	// 		display: inline-block;
	// 		float: none;
	// 		width: 100%;
	// 		margin: 0;
	// 	}
	// }
	// li > p {
	// 	font-style: italic;

	// 	// SCREEN MIN-WIDTH 600px
	// 	@include tablet() {
	// 		display: inline-block;
	// 		float: right;
	// 		width: 45%;
	// 		vertical-align: top;
	// 		margin: 12% 5%;
	// 	}

	// 	// SCREEN MIN-WIDTH 1024px
	// 	@include tablet-w() {
	// 		display: inline-block;
	// 		float: none;
	// 		margin: 0 0;
	// 		width: 90%;
	// 		padding: 0 5%;
	// 	}
	// }
	// li:nth-child(2) {
	// 	img {
	// 		float: right;

	// 		// SCREEN MIN-WIDTH 1024px
	// 		@include tablet-w() {
	// 			float: none;
	// 		}
	// 	}
	// 	p {
	// 		float: left;

	// 		// SCREEN MIN-WIDTH 1024px
	// 		@include tablet-w() {
	// 			float: none;
	// 		}
	// 	}
	// }
}
.section3 .slider-wrapper {
	// margin-top: 50px;
	width: 100%;

	@include tablet() {
		margin-top: 100px;
		width: 50%;
		margin: 0 auto;
	}
}

// BUTTON
a > button {
	width: 90%;
	border: none;
	margin: 50px 5%;
	padding: 20px 0;
	background-color: $orange;
	text-transform: uppercase;
	color: $offwhite;
	font-weight: bold;
	@include hoverTransition (.5s, ease-in-out);

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		margin-top: 70px;
		width: 40%;
		margin: 70px 30% 60px;
		padding: 30px 60px;
		border: none;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 35%;
		margin: 70px 32.5% 60px;
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		margin-top: 100px;
		margin-bottom: 90px;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 30%;
		margin-left: 35%;
		margin-right: 35%;
	}
}

a > button:hover {
	background-color: $purple;
	font-weight: bold;
}

// SPONSOR PAGE

// HEADING
.sponsor-heading {
	width: 100%;
	text-align: center;
	background-color: $offwhite;
	padding: 10px 0;
	margin-bottom: 50px;
}
.sponsor {
	margin-bottom: 60px;
}
// DESCRIPTION
.sponsor-description {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		width: 60%;
		margin: 0 auto;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		width: 50%;
	}

	// SCREEN MIN-WIDTH 1440px
	@include desktop() {
		width: 46%;
	}

	// SCREEN MIN-WIDTH 1920px
	@include lgscreen() {
		width: 40%;
	}
}
// FORM
form {
	width: 100%;
	border-top: 2px solid $orange;
	padding-top: 16px;
	// CLEAR FLOAT
	&::after {
		clear: both;
		visibility: hidden;
		content: "";
		display: block;
		height: 0;
	}
}
label, input {
	display: block;
}
label {
	margin-bottom: 6px;

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		// width: 15%;
	}
}
input, textarea {
	width: 99%;
	margin-bottom: 10px;
}
.sub-button {
	width: 100px;
	float: right;
	margin-right: 0;
}
.sub-button {

}

// FOOTER
footer {
	width: 96%;
	margin-top: 50px 0;
	padding: 20px 2%;
	background-color: $orange;
	// CLEAR FLOAT
	&::after {
		clear: both;
		visibility: hidden;
		content: "";
		display: block;
		height: 0;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 84%;
		// margin: 0 auto;
		padding: 20px 8%;
	}
}
footer a:active, footer a:link, footer a:visited {
	color: $offwhite;
	font-weight: 400;
	// HOVER TRANSITION
	@include hoverTransition (.5s, ease-in-out);
}
footer a:hover {
	color: $purple;
}
.contact {
	width: 100%;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		float: left;
		width: 50%;
	}
}
.sponsor-us {text-transform: uppercase;}
.social {
	width: 46%;
	float: left;
	text-align: justify;
	margin-top: -16px;
	i {
		color: $offwhite;
		@include hoverTransition (.5s, ease-in-out);
	}
	i:hover {
		color: $purple;
	}

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		float: right;
		width: 20%;
		margin-top: 0;
	}
}
.social::after {
	content: '';
	width: 100%;
	display: inline-block;
}
.social > h3 {
	color: $offwhite;
	font-weight: bold;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		text-align: center;
	}
}
.copy {
	float: left;
	width: 100%;
	text-align: center;
}