// LINK COLORS AND EFFECTS
a {text-decoration: none;}
a:active, a:link, {
	color: $orange;
	font-weight: bold;
	@include hoverTransition (.5s, ease-in-out);
}
a:visited {color: $orange;}
a:hover {
	color: $purple;
}