// NAVIGATION
nav {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 98%;
	padding: 0 1%;
	background-color: $charcoal;
	background-color: rgba($charcoal, .6);
	text-transform: uppercase;
	cursor: pointer;
	// CLEAR FLOAT
	&::after {
		clear: both;
		visibility: hidden;
		content: "";
		display: block;
		height: 0;
	}
	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 84%;
		padding: 0 8%;
	}
}
nav .home-logo {
	display: inline-block;
	float: left;
	width: 15%;
	max-width: 75px;
	position: relative;
	padding-top: 4px;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		padding-top: 6px;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		width: 7.91%;
		max-width: none;
		max-height: none;
	}
}
nav i {
	display: block;
	float: right;
	padding: 22px 4px 0 0;
	color: $purple;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		display: none !important;
	}
}
nav ul {
	list-style: none;
	display: block;
	position: relative;
	float: right;
	width: 100%;
	margin: 0;

	// SCREEN MIN-WIDTH 600px
	@include tablet() {
		display: inline-block;
		width: auto;
		margin-top: 4%;
	}

	// SCREEN MIN-WIDTH 1024px
	@include tablet-w() {
		// margin: 3% 5px 0;
		margin-top: 3%;
	}

	// SCREEN MIN-WIDTH 1280px
	@include laptop() {
		// margin: 3.5% 8px 0;
		margin-top: 3.5%;
	}
	li {
		padding: 10px 20px;

		// SCREEN MIN-WIDTH 600px
		@include tablet() {
			display: inline-block;
			width: 80px;
			padding: 0;
			text-align: center;
		}
	}
}
